{% extends "base.html" %}


<body>
    {% block header1 %}{% endblock %}
    <main>
        {% block main %}

        <h1 class="titulo">Perfil usuario {{user.nombre}}</h1>
        <section id="perfil-usuario" >
            <h2 class="titulo" hidden>Perfil</h2>
            <div class="perfil-usuario">
                {% if user.image %}
                    <img src="{{ url_for('get_user_image', user_id = user.id) }}" alt="imag-usuario"  />
                {% else %}
                    <img src="{{url_for('static',filename='img/usuario_icono.png')}}" alt="img-usuario-default">
                    <!--no imagen-->
                {% endif %}
                
                <ul>
                    <li>ID : {{user.id}}</li>
                    <li>Nombre : {{user.nombre}}</li>
                    <li>Apellido : {{user.apellido}}</li>
                    <li>Email : {{user.email}}</li>
                    <li>Mayor : {{user.mayor}}</li>
                    <li>Genero : {{user.genero}}</li>
                    <li>Rol : {{user.rol}}</li>
                    <li>Alta : {{user.alta}}</li>
                    <li>Mayor de edad : {{user.mayor}}</li>
                </ul>

                
            </div>
            
        </section>
        <section class="text-center">
            
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Modificar mis datos</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Editar mis datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form action="/perfil_usuario/{{user.id}}" class="row g-3 " id="formulario" method="POST" enctype="multipart/form-data">
                        <div class="col-12">
                            <label for="nombre{{user.id}}" class="form-label">Nombre</label>
                            <input type="text" name="nombre" value="{{user.nombre}}" class="form-control" id="nombre{{user.id}}">
                        </div>

                        <div class="col-12">
                            <label for="apellido{{user.id}}" class="form-label">Apellido</label>
                            <input type="text" name="apellido" value="{{user.apellido}}" class="form-control" id="apellido{{user.id}}">
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col-md-4">
                                <label for="genero{{user.id}}" class="form-label">Genero</label>
                                <select id="genero{{user.id}}" name="genero" class="form-select">
                                    <option value="{{user.genero}}" selected>{{user.genero}}</option>
                                    <option value="varon">Varon</option>
                                    <option value="mujer">Mujer</option>
                                    <option value="otro">Otro</option>
                                </select>
                                
                            </div>
                            
                            <div class="col-md-4">
                                <label for="mayor{{user.id}}" class="form-label">Mayor</label>
                                <select id="mayor{{user.id}}" name="mayor" class="form-select">
                                    <option value="{{user.mayor}}" selected>{{user.mayor}}</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Modificar datos</button>
                        </div>
                    </form>

                    <form action="/perfil_usuario_imagen/{{user.id}}" class="row g-3 mt-3 "  method="POST" enctype="multipart/form-data">
                        <div >
                            <label for="archivo" class="btn-seleccionar bg-warning">Carga una imagen</label>
                            <input id="archivo" type="file" name="image" accept="image/*">
                        </div>
                        <input id="submit" class="btn-enviar bg-success" type="submit" value="Modificar imagen">
                    </form>
                </div>
            </div>
        </section>
        <!--<section >
            <h3 class="titulo">Mis favoritos</h3>
            <div class="alcohol " id="mis-favoritos">
                {% for favorito in favoritos %}
                <p>{{ favorito.id_trago }}</p>
                <div style="display: none;"></div>
                <div >
                    <div class="imagenes">
                        <div class="imgFondo" style="background-image: url({{ favorito.strDrinkThumb }});">
                            <div class="tarjeta-imagen">
                                <h3 style="text-align: center; color: rgb(255, 255, 255);">{{ favorito.strDrink }}</h3>
                                <form id="form" class="form">
                                    <button class="btn-calificacion" style="background: none;">⭐</button>
                                    <button class="btn-calificacion" style="background: none;">⭐</button>
                                    <button class="btn-calificacion" style="background: none;">⭐</button>
                                    <button class="btn-calificacion" style="background: none;">⭐</button>
                                    <button class="btn-calificacion" style="background: none;">⭐</button>
                                </form>
                            </div>
                        </div>
                        <p>{{ favorito.strDrink }}</p>
                        <p class="id-trago" hidden="">{{ favorito.id_trago }}</p>
                    </div>
                </div> 
        
                {% endfor %}  
            </div>
        </section>
        <section id="miModal" class="modal">
            <h3 class="titulo" hidden>Modal</h3>
            <div class="modal-contenido">
                <div id="contenidoModal" class="trago-modal"></div>
                <div class="cerrar-modal">
                    <button class="favoritos-btn" id="mi-lista"><i class="bi bi-heart"></i></button>
                    <button class="favoritos-btn" id="mi-lista-ok"><i class="bi bi-heart-fill"></i></button>
                    <button class="cerrar" id="cerrarModal">Cerrar</button>
                </div>
            </div>
        </section>-->

        {% endblock main %}

        <button id="scrollBtn" title="Subir arriba"><i class="fa fa-chevron-up"></i></button>
    </main>
    {% block footer %}{% endblock footer %}

    {% block scripts %}
    <script src="{{url_for('static', filename='js/modo_oscuro.js')}}"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
    {% endblock scripts %}
    
    <!--<script src="{{url_for('static', filename='js/verificacion.js')}}"></script>
    
    <script src="{{url_for('static', filename='js/perfil_usuario.js')}}"></script>
    
    <script src="{{url_for('static', filename='js/perfil_usuario.js')}}"></script>
    
    <script src="{{url_for('static', filename='js/metodos_varios.js')}}"></script>
    
    <script src="{{url_for('static', filename='js/ventana_modal.js')}}"></script>

    <script src="{{url_for('static', filename='js/boton_up.js')}}"></script> -->
